img {
    border: 7px solid rgb(218, 10, 52);
    border-radius: 60%;
    box-shadow: 0 6px 8px 0 dimgray; 
    max-width: 70%;
    max-height: 70%;
  }

@media (min-width: 600px) {
    img {
      width: 60px;
      height: 30px;
    } 
}

@media (min-width: 750px) {
  img {
    width: 100px;
    height: 50px;
  } 
}

@media (min-width: 1000px) {
  img {
    width: 200px;
    height: 100px;
  } 
}
